*.LOG
*.o
/SOFT/1/1.htm
*.d
*.dep
*.crf
*.bak
/SOFT/2donottouch/*.htm
*.axf
*.lnp
*.iex
*.sct
*.map
*.tra
*.lst
/SOFT/Blinky/Flash/*.htm
/SOFT/Blinky/RAM/*.htm
*.plg
/SOFT/Blinky_/Flash/*.htm
/SOFT/Blinky_/RAM/*.htm
